legend.span3 {
	margin: 0px;
	padding: 0px;
}

.course_title_bar {
	border: 1px solid silver;
	border-radius: 5px;
	z-index: 1;
}

.course_title_bar h4 {
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
	z-index: 0;
}

.edit_course, .delete_course {
	float: right;
	margin: 0px;
	z-index: 2;
}