legend.span3 {
	margin: 0px;
	padding: 0px;
}

.course_title {
	border: 1px solid silver;
	border-radius: 5px;
}

.course_title h4 {
	/*display: inline-block;*/
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
}

.title_bar {
	float: right;
}

.edit_course, .delete_course {
	float: right;
	margin: 0px;
}